/* General styling
__________________________________________________________________________________________ 
__________________________________________________________________________________________ 
__________________________________________________________________________________________ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  overscroll-behavior: contain;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  background-color: rgb(39, 37, 37);
}

li {
  list-style-type: none;
}

p {
  display: block;
  white-space: normal;
}

/* Homepage styling
__________________________________________________________________________________________ 
__________________________________________________________________________________________ 
__________________________________________________________________________________________ */

/* Navbar and Footer
__________________________________________________________________________________________ */

nav {
  z-index: 1;
  height: 70px;
  width: 100%;
  padding: 15px 20px 30px;
  background: rgb(39, 37, 37);
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 100px;
  align-items: center;
  position: fixed;
}

nav h1 {
  min-width: 180px;
  background: -webkit-linear-gradient(
    40deg,
    rgb(102, 255, 255),
    rgb(224, 255, 86)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav a,
footer a {
  color: rgb(102, 255, 255);
  display: inline-block;
}

nav a:hover,
footer a:hover {
  color: rgb(239, 255, 169);
  cursor: pointer;
}

footer {
  z-index: 2;
  height: 30vh;
  width: 100%;
  padding: 30px 30%;
  background: rgb(39, 37, 37);
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 100px;
  align-items: center;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer ul li {
  font-size: 22px;
  margin: 0 20px 0;
}

footer:last-child,
#wtf {
  font-size: 0.8rem;
  text-align: center;
  color: rgb(104, 98, 98);
  white-space: normal;
}

@media only screen and (max-width: 1000px) {
  nav {
    background-color: #ffffff;
  }
}

/* container - size of the whole website
__________________________________________________________________________________________ */

.container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-color: rgb(202, 241, 202);
}

/* main - defines that everything starts below the navbar
__________________________________________________________________________________________ */

main {
  padding-top: 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* "Intro" Section - animated
__________________________________________________________________________________________ */

.intro {
  line-height: 2;
  height: 65vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10%;
  flex-direction: column;
  background-image: url("images/me-green.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation: animatedIntroImg 1s ease-out;
}

.intro div,
.intro h1 {
  animation: animatedIntroTxt 3s ease-out;
  background: -webkit-linear-gradient(
    40deg,
    rgb(102, 255, 255),
    rgb(224, 255, 86)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrow {
  width: 20px;
  height: 20px;
  border: solid rgb(102, 255, 255);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 0;
  margin: 10px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@keyframes animatedIntroImg {
  from {
    height: 0vh;
    background-position: 80%;
    opacity: 80%;
  }
  to {
    height: 65vh;
    background-position: 100%;
    opacity: 100%;
  }
}

@keyframes animatedIntroTxt {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 100%;
  }
}

/* ".topic" - class of the sections below the intro: #design, #art, #about, #clients, #contact
__________________________________________________________________________________________ */

.topic {
  min-height: 500px;
  padding: 60px 80px 0px;
  background-color: rgb(229, 248, 229);
  display: grid;
  grid-template-columns: 230px 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  white-space: nowrap;
}

/* "Design" and "Art" Sections
__________________________________________________________________________________________ */

#design div,
#art div {
  grid-column-start: 2;
  grid-column-end: 8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10px;
}

#design #box div,
#art #box div {
  white-space: normal;
  background-color: #ffffff;
  width: 300px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  transform: scale(0.95);
}

#design #box #a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#design #box div:hover,
#art #box div:hover {
  background-color: rgb(255, 255, 255);
  animation: CardEffect 0.2s ease-in-out forwards;
}

.topic a:link {
  color: black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.topic a #caption {
  text-transform: uppercase;
  line-height: 2;
}

.topic a h2 {
  line-height: 1.3;
}

.topic a p {
  line-height: 1.3;
}

.topic a:visited {
  color: grey;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.topic a:hover {
  color: tomato;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.topic a:active {
  color: midnightblue;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

@keyframes CardEffect {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

/* "Clients" Section
__________________________________________________________________________________________ */

#clients div {
  background-color: rgb(229, 248, 229);
  grid-column-start: 2;
  grid-column-end: 8;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 25px;
  flex-basis: 30%;
  flex-wrap: wrap;
  background-position: top left; /* optional center */
  background-repeat: no-repeat;
  background-size: 60%; /* optional "cover" */
}

#clients div:nth-child(1) {
  background-image: url(images/bcg.png);
}

#clients div:nth-child(2) {
  background-image: url(images/bcgdv.png);
}

#clients div:nth-child(3) {
  background-image: url(images/google.png);
}

#clients div:nth-child(4) {
  background-image: url(images/sektgar.jpg);
  background-size: 40%;
}

#clients div:nth-child(5) {
  background-image: url(images/emarsys-logo.png);
}

#clients div:nth-child(6) {
  background-image: url(images/betahaus.jpg);
}

#clients div:nth-child(7) {
  background-image: url(images/ppt.jpg);
  background-size: 40%;
}

#clients div:nth-child(8) {
  background-image: url(images/dt.png);
  background-size: 50%;
}

#clients div:nth-child(9) {
  background-image: url(images/teatrwielki.jpg);
  background-size: 50%;
}

/* "About" Section
__________________________________________________________________________________________ */

#about div {
  white-space: normal;
  grid-column-start: 2;
  grid-column-end: 5;
  padding-top: 10px;
  padding-left: 25px;
}

/* "Contact" Section
__________________________________________________________________________________________ */

#contact div {
  grid-column-start: 2;
  grid-column-end: 5;
  padding-top: 10px;
  padding-left: 25px;
}

/* Subpage Specific Styling
__________________________________________________________________________________________ 
__________________________________________________________________________________________ 
__________________________________________________________________________________________ */

.subpage {
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-gap: 20px;
  white-space: normal;
  overflow: hidden;
  margin-bottom: 130px;
}

.subpage .navigation {
  padding: 60px 3vw 120px;
  background-color: rgb(202, 241, 202);
  line-height: 1.2;
  /*display: inline-flexbox;
  position: fixed;*/
}

.subpage .navigation ul li {
  line-height: 4;
  text-transform: uppercase;
  font-weight: bold;
}

.subpage .navigation ul li li {
  margin-left: 2vw;
  margin-bottom: 1.2rem;
  line-height: 1.6;
  list-style-type: none;
  text-transform: capitalize;
}

.subpage .navigation ul a {
  color: black;
}
.subpage .navigation ul a:hover {
  color: tomato;
}

.subpage .description {
  /*grid-column-start: 2;
  grid-column-end: 3;*/
  max-width: 800px;
  padding: 60px 30px 0 0;
  background-color: rgb(202, 241, 202);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.description #title {
  padding-bottom: 70px;
}

.description #title h1 {
  font-size: 3rem;
  line-height: 1.3;
}

.description #title h2 {
  line-height: 1.6;
}

.description #title p {
  line-height: 2;
}

.description #bodytext ul li {
  margin-bottom: 0.5rem;
}

.description #bodytext #emphasis {
  border: solid black;
  border-width: 0 0 0 5px;
  margin: 50px;
  padding-left: 20px;
  font-size: 1.4rem;
}

.description #bodytext h2,
.description #bodytext h3 {
  line-height: 2.5;
}

.description #bodytext p {
  margin-bottom: 20px;
}

.description img,
.description video {
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1000px) {
  .description img {
    max-width: 100%;
  }
}

#backtotop {
  color: rgb(255, 255, 255);
  margin-top: 0px;
  position: fixed;
  font-size: 2rem;
  opacity: 100%;
  mix-blend-mode: exclusion;
}
