/* General styling
__________________________________________________________________________________________ 
__________________________________________________________________________________________ 
__________________________________________________________________________________________ */

:root {
  --grey: rgb(39, 37, 37);
  --green: rgb(202, 241, 202);
  --turquois: rgb(102, 255, 255);
  --yellow: rgb(224, 255, 86);
  --menu-speed: 1s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  overscroll-behavior: contain;
}

body {
  font-family: "Raleway", "Helvetica", sans-serif;
  line-height: 1.6;
  background-color: var(--grey);
}

li {
  list-style-type: none;
}

p {
  display: block;
  white-space: normal;
}

/* Homepage styling
__________________________________________________________________________________________ 
__________________________________________________________________________________________ 
__________________________________________________________________________________________ */

/* Hamburger Menu (not visible)
__________________________________________________________________________________________ */

.menu-wrap {
  visibility: hidden; /* unhides in media query */
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

.menu-wrap .hamburger {
  grid-column-start: 2;
  z-index: 2;
  width: 70px;
  height: 70px;
  padding: 1rem;
  background-color: var(--grey);
  display: flex;
  align-items: center;
  justify-content: right;
  cursor: pointer;
  transition: all 1s ease-in;
}

/* Hamburger Middle Line */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in;
}

/* Top & Bottom Lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu-wrap .hamburger > div:before {
  transform: translateY(-10px);
}

.menu-wrap .hamburger > div:after {
  transform: translateY(10px);
}

/* BUTTON ANIMATION 1 */
.menu-wrap .hamburger.open > div {
  background: transparent;
}

.menu-wrap .hamburger.open > div:before {
  transform: rotate(45deg);
  background: var(--turquois);
}

.menu-wrap .hamburger.open > div:after {
  transform: rotate(-45deg);
  background: var(--turquois);
}

/* Show menu on click in .hamburger*/
.menu-wrap .hamburger.open ~ .menu {
  visibility: visible;
}

.menu-wrap .hamburger.open ~ .menu > div {
  transform: translateY(0px);
  transition-duration: var(--menu-speed);
}

.menu-wrap .hamburger.open ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

/* Show menu on click in .menu-items - DOESNT WORK YET*/ /*
.menu-wrap .menu-items.hide ~ .menu {
  visibility: visible;
}

.menu-wrap .menu-items.hide ~ .menu > div {
  transform: translateY(0px);
  transition-duration: var(--menu-speed);
}

.menu-wrap .menu-items.hide ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}
*/

/* -- */
.menu-wrap .menu {
  position: fixed;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background-color: var(--grey);
  opacity: 97%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: translateY(-200vh);
  transition: all 1s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 1s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: var(--turquois);
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li > a:active {
  color: var(--yellow);
  text-decoration: none;
  transition: color 0.4s ease;
}

/* Navbar and Footer
__________________________________________________________________________________________ */

nav {
  z-index: 1;
  height: 70px;
  width: 100%;
  padding: 15px 20px 30px;
  background: var(--grey);
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 100px;
  align-items: center;
  position: fixed;
}

nav h1 {
  min-width: 180px;
  background: -webkit-linear-gradient(40deg, var(--turquois), var(--yellow));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav a,
footer a {
  color: var(--turquois);
  display: inline-block;
  transition: color 0.3s ease-in;
}

nav a:hover,
footer a:hover {
  color: var(--yellow);
  cursor: pointer;
}

footer {
  z-index: 1;
  height: auto;
  width: 100vw;
  padding: 3vw 0 3vh;
  background: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul {
  display: flex;
  flex-direction: row;
}

footer ul li {
  font-size: 1.6vw;
  margin: 0 1.6vw 0;
}

footer div {
  margin: 1.6vw 0;
  width: 100%;
  font-size: 0.8rem;
  justify-self: start;
  text-align: center;
  color: rgb(104, 98, 98);
  white-space: normal;
}

/* container - size of the whole website
__________________________________________________________________________________________ */

.container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-color: var(--green);
}

/* main - defines that everything starts below the navbar
__________________________________________________________________________________________ */

main {
  margin-top: 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* "Intro" Section - animated
__________________________________________________________________________________________ */

main .intro {
  position: relative;
  line-height: 1.3;
  height: 65vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.intro::before {
  content: "";
  width: 100%;
  height: 65vh;
  position: absolute;
  background-image: url("images/me-green.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  mix-blend-mode: normal;
  z-index: 0;
  animation: animatedIntroImg 2s ease-out forwards;
}

.intro h2,
.intro h1,
.intro h3 {
  z-index: 1;
  color: white;
  animation-duration: 4s;
  margin-left: 10vh;
}

.intro h1 {
  font-size: 3rem;
}

.intro h2 {
  margin-bottom: 0.5rem;
}

.intro h3 {
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1rem;
  margin-top: 1rem;
}

.arrow {
  width: 20px;
  height: 20px;
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 0;
  margin: 10px;
  margin-left: 11vh;
  animation: arrowFadeIn 4s forwards ease-in;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@keyframes animatedIntroImg {
  from {
    background-position: 80% 70px;
    opacity: 80%;
  }
  to {
    background-position: 100% 70px;
    opacity: 100%;
  }
}

@keyframes arrowFadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

/* ".topic" - class of the sections below the intro: #design, #art, #about, #clients, #contact
__________________________________________________________________________________________ */

.topic {
  min-height: 500px;
  padding: 60px 80px 0px;
  background-color: rgb(229, 248, 229);
  display: grid;
  grid-template-columns: 230px 1fr 1fr 1fr 1fr;
  grid-gap: 1vw;
  white-space: nowrap;
  overflow: hidden;
}

.topic h1 {
  padding-bottom: 0.5rem;
}

/*
.topic h1:before {
  content: "anker";
  display: block;
  width: 10px;
  height: 10px;
  top: -50px;
  color: rgb(255, 0, 0);
  z-index: 0;
}*/

/* "Design" and "Art" Sections
__________________________________________________________________________________________ */

#design div,
#art div {
  grid-column-start: 2;
  grid-column-end: 8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10px;
}

#design #box div,
#art #box div {
  white-space: normal;
  background-color: #ffffff;
  width: 20vw;
  min-width: 10vw;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  transform: scale(0.95);
}

#design #box #a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#design #box div:hover,
#art #box div:hover {
  background-color: rgb(255, 255, 255);
  animation: CardEffect 0.2s ease-in-out forwards;
}

.topic a:link {
  color: black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.topic a #caption {
  text-transform: uppercase;
  line-height: 2;
}

.topic a h2 {
  line-height: 1.3;
}

.topic a p {
  line-height: 1.3;
}

.topic a:visited {
  color: grey;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.topic a:hover {
  color: tomato;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.topic a:active {
  color: midnightblue;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

@keyframes CardEffect {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

/* "Clients" Section
__________________________________________________________________________________________ */

#clients #box {
  grid-column-start: 2;
  grid-column-end: 6;
  display: flex;
  align-items: flex-start;
  margin: 0;
  flex-direction: row;
  flex-flow: row wrap;
  padding-top: 10px;
  padding-left: 25px;
  grid-gap: 3vw;
  justify-content: left;
}

#clients #box div {
  margin: 0;
  width: 18vw;
  height: 10vw;
  background-repeat: no-repeat;
  background-size: 10vw;
}

#clients #box div:nth-child(1) {
  background-image: url(images/bcg.png);
}

#clients #box div:nth-child(2) {
  background-image: url(images/bcgdv.png);
}

#clients #box div:nth-child(3) {
  background-image: url(images/google.png);
}

#clients #box div:nth-child(4) {
  background-image: url(images/betahaus.png);
  background-size: 12vw;
}

#clients #box div:nth-child(5) {
  background-image: url(images/emarsys-logo.png);
}

#clients #box div:nth-child(6) {
  background-image: url(images/sektgar.png);
  background-size: 12vw;
}

#clients #box div:nth-child(7) {
  background-image: url(images/ppt.png);
  background-size: 8vw;
}

#clients #box div:nth-child(8) {
  background-image: url(images/dt.png);
  background-size: 12vw;
}

#clients #box div:nth-child(9) {
  background-image: url(images/teatrwielki.png);
  background-size: 12vw;
}

/* "About" Section
__________________________________________________________________________________________ */

#about div {
  white-space: normal;
  grid-column-start: 2;
  grid-column-end: 5;
  padding-top: 10px;
  padding-left: 25px;
}

/* "Contact" Section
__________________________________________________________________________________________ */

#contact div {
  grid-column-start: 2;
  grid-column-end: 5;
  padding-top: 10px;
  padding-left: 25px;
}

/* Subpage Specific Styling
__________________________________________________________________________________________ 
__________________________________________________________________________________________ 
__________________________________________________________________________________________ */

.subpage {
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-gap: 1vw;
  white-space: normal;
  overflow: hidden;
  margin-bottom: 130px;
}

.subpage .navigation {
  padding: 60px 3vw 120px;
  background-color: var(--green);
  line-height: 1.2;
  /*display: inline-flexbox;
  position: fixed;*/
}

.subpage .navigation ul li {
  line-height: 4;
  text-transform: uppercase;
  font-weight: bold;
}

.subpage .navigation ul li li {
  margin-left: 2vw;
  margin-bottom: 1.2rem;
  line-height: 1.6;
  list-style-type: none;
  text-transform: capitalize;
}

.subpage .navigation ul a {
  color: black;
}
.subpage .navigation ul a:hover {
  color: tomato;
}

.subpage .description {
  /*grid-column-start: 2;
  grid-column-end: 3;*/
  max-width: 800px;
  padding: 60px 30px 0 0;
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.description #title {
  padding-bottom: 70px;
}

.description #title h1 {
  font-size: 3rem;
  line-height: 1.3;
}

.description #title h2 {
  line-height: 1.6;
}

.description #title p {
  line-height: 2;
}

.description #bodytext ul li {
  margin-bottom: 0.5rem;
}

.description #bodytext #emphasis {
  border: solid black;
  border-width: 0 0 0 5px;
  margin: 50px;
  padding-left: 20px;
  font-size: 1.4rem;
}

.description #bodytext h2,
.description #bodytext h3 {
  line-height: 2.5;
}

.description #bodytext p {
  margin-bottom: 20px;
}

.description img,
.description video {
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 30px;
}

#backtotop {
  color: rgb(255, 255, 255);
  margin-top: 0px;
  position: fixed;
  font-size: 1.3rem;
  opacity: 100%;
  mix-blend-mode: exclusion;
}

.multiply {
  mix-blend-mode: multiply;
}
.darken {
  mix-blend-mode: darken;
}

#anker {
  height: 30px;
}

@media screen and (max-width: 1000px) {
  /* hompage */
  .topic {
    min-height: initial;
    padding: 5vw 5vw 0px;
    background-color: rgb(229, 248, 229);
    display: initial;
  }

  #design div,
  #art div {
    margin: 0;
    min-width: 30%;
  }

  #design #box div,
  #art #box div {
    width: 30vw;
    min-width: 8vw;
    height: 30vh;
    min-height: 8vh;
    margin: 0;
    display: grid;
  }

  #clients #box {
    grid-column-start: 2;
    grid-column-end: 6;
    display: flex;
    align-items: flex-start;
    margin: 0;
    flex-direction: row;
    flex-flow: row wrap;
    padding-top: 10px;
    padding-left: 25px;
    grid-gap: 6vw;
    justify-content: left;
  }

  #clients #box div {
    margin: 0;
    width: 20vw;
    height: 10vw;
    background-repeat: no-repeat;
    background-size: 17vw;
  }

  /* image in subpage smaller */
  .description img {
    max-width: 100%;
  }

  #contact #box {
    min-height: 120px;
    display: initial;
  }

  #contact div {
    min-height: 20vh;
  }
  footer ul li {
    font-size: 2vh;
    margin: 0 2vh 0;
  }

  footer div {
    margin: 2vh 0;
    width: 100%;
    font-size: 0.8rem;
    justify-self: start;
    text-align: center;
    color: rgb(104, 98, 98);
    white-space: normal;
  }
}

@media screen and (max-width: 777px) {
  .menu-wrap {
    visibility: visible;
  }
  nav ul {
    visibility: hidden;
  }
}

@media screen and (max-width: 550px) {
  .intro h1 {
    font-size: 2rem;
  }

  .intro h2 {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .intro h3 {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .intro h2,
  .intro h1,
  .intro h3 {
    margin-left: 5vh;
  }

  .description img {
    max-width: 100%;
  }
  .topic {
    min-height: 200px;
    padding: 4vw 4vw 0px;
    background-color: rgb(229, 248, 229);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }

  #clients #box {
    grid-column-start: 2;
    grid-column-end: 6;
    display: flex;
    align-items: flex-start;
    margin: 0;
    flex-direction: row;
    flex-flow: row wrap;
    padding-top: 0px;
    padding-left: 0px;
    grid-gap: 3vw;
    justify-content: left;
  }

  #clients #box div {
    margin: 0;
    width: 30vw;
    height: 10vw;
    background-repeat: no-repeat;
    background-size: 18vw;
  }

  #design div,
  #art div {
    flex-direction: column;
  }

  #design #box div:hover,
  #art #box div:hover {
    background-color: rgb(255, 255, 255);
    animation: none;
  }

  #clients div,
  #about div,
  #contact div {
    padding-top: 0px;
    padding-left: 0px;
  }

  #design #box div,
  #art #box div {
    margin: 1vh 0 0;
    width: 100%;
    height: 100%;
    transform: scale(1);
  }

  #contact div {
    font-size: 15px;
  }
}
